.container{
  border: red 1px dashed;
}
.row-buttons{
  width: 100%;
}

.post-heading{
  color: red;
  font-weight: bolder;
  text-align: center;
}

.btn{
  font-size: small;
  margin-right: 15px;
  margin-bottom: 15px;
}
