<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FDP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- always -->
      <li class="nav-item active"><a class="nav-link" routerLink="/home">Home</a></li>

      <!-- always -->
      <li class="nav-item active"><a class="nav-link" routerLink="/main">Review Discussions </a></li>

      <!-- only if logged in -->
      <li *ngIf="auth.currentUserValue!=null" class="nav-item active"><a class="nav-link" routerLinkActive="active" routerLink="/post">Start a Discussion</a></li>

      <!-- always -->
      <li class="nav-item active"><a class="nav-link" routerLinkActive="active" routerLink="/about">About Me</a></li>

      <!-- always -->
      <li class="nav-item active"><a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact Me</a></li>

      <!-- not when logged in  -->
      <li *ngIf="auth.currentUserValue==null" class="nav-item active"><a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a></li>

      <!-- not when logged in  -->
      <li *ngIf="auth.currentUserValue==null" class="nav-item active"><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></li>

      <!-- only when logged in as admin -->
      <li *ngIf="auth.currentUserValue!=null && auth.currentUserValue.roles=='ROLE_ADMIN'" class="nav-item active"><a class="nav-link" routerLinkActive="active" routerLink="/admin-dashboard">Admin</a></li>

      <!-- only if logged in -->
      <li *ngIf="auth.currentUserValue!=null" class="nav-item active"><a class="nav-link" routerLinkActive="active"(click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
