.tag-button{
  font-size: .75em;
  border-radius: 4px;
  display: inline-block;
  margin-left: 1em;
}
.btn-success{
  color:black;
  background-color: #c1bebe;
  border: black 1px solid;
  display:inline-block;
  float:right;
  position: relative;
  bottom: 1em;
}
#tag{
  display:inline-block;
}
.column.container-left{
  display: inline-block;
  width:20%;
}
.column.container-right{
  width:70%;
}
button{
  margin-bottom: .5em;
  position: relative;
  top: .25em;
}
#tags{
  width:70%;
  margin-right: 2em;
}

