<header class="masthead" style="background-image: url(&quot;assets/img/typewriter-1031024_1920.jpg&quot;);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="site-heading">
          <h1>Start a Discussion</h1><span class="subheading">Have something to say? Let's Discuss.</span></div>
      </div>
    </div>
  </div>
</header>
<div class="row">
<div class="column container-left">
  <div class="col-md-2 col-lg-4 mx-auto">
    <div class="column-" *ngIf="allTags">
      <div *ngFor="let tag of allTags">
        <button class="tag-button" (click)="addTag(tag.toString())">{{tag.toString()}}</button>
      </div>
    </div>
  </div>
</div>
<div class="column container-right">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">

      <form id="postForm" #form='ngForm' name="sentPost" ngNativeValidate>

        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="text" id="title" #title="ngModel" name="title" [(ngModel)]="discussionData.discussTitle" required>
          <small [hidden]="title.pristine || title.valid" class="form-text text-danger">Please fill out this field.</small>
        </div>

        <div class="form-group">
          <label>SubTitle</label>
          <input class="form-control" type="text" id="subtitle" #subtitle="ngModel" name="subtitle" [(ngModel)]="discussionData.discussSubTitle" required>
          <small [hidden]="subtitle.pristine || subtitle.valid" class="form-text text-danger">Please fill out this field.</small>
        </div>

        <div class="form-group">
          <label for="content">Discussion</label>
          <textarea class="form-control" rows="10" id="content" #content="ngModel" name="content" placeholder="Share you thoughts!" [(ngModel)]="discussionData.discussContent" required></textarea>
          <small [hidden]="content.pristine || content.valid" class="form-text text-danger">Please fill out this field.</small>
        </div>

        <div class="form-group">
          <label for="content">Tags</label>
          <span class="new-tag-section" *ngFor="let tag of tempTags">
              <button class="tag-button">{{tag}}</button>
          </span>
          <span>
            <div class="row mx-auto">
            <input class="form-control" type="text" id="tags" name="tag" placeholder="Select or add one or more tags" [(ngModel)]="tempTag">

            <button class="button btn-success btn-sm" (click)="addTag(tempTag)">Add Tag</button>
            </div>
          </span>
        </div>

        <div id="success"></div>
        <div class="form-group"><button class="btn btn-primary" id="postDiscussionButton" type="submit" [disabled]="form.invalid" (click)="addDiscussion()">Submit</button></div>
      </form>

      </div>
  </div>
</div>
</div>
<hr>
<script src="assets/js/clean-blog.js"></script>
