<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item"><span class="fa-stack fa-lg"><em class="fa fa-circle fa-stack-2x"></em><em class="fa fa-twitter fa-stack-1x fa-inverse"></em></span></li>
          <li class="list-inline-item"><span class="fa-stack fa-lg"><em class="fa fa-circle fa-stack-2x"></em><em class="fa fa-facebook fa-stack-1x fa-inverse"></em></span></li>
          <li class="list-inline-item"><span class="fa-stack fa-lg"><em class="fa fa-circle fa-stack-2x"></em><em class="fa fa-github fa-stack-1x fa-inverse"></em></span></li>
        </ul>
        <p class="text-muted copyright">Copyright&nbsp;©&nbsp;Brand 2020</p>
      </div>
    </div>
  </div>
</footer>
