

<header class="masthead" style="background-image: url();">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <div class="site-heading">
          <h1>Registration</h1><span class="subheading">Let's Get Started.</span></div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">

      <form id="registerForm" name="sentRegistration" (ngSubmit)="addUser(registrationData)" #regForm="ngForm">

          <div class="form-group">
            <label>First Name</label>
            <input class="form-control" type="text" id="firstname" #firstname="ngModel" name="first" [(ngModel)]="registrationData.firstName" required>
            <small [hidden]="firstname.pristine || firstname.valid" class="form-text text-danger">Please fill out this field.</small>
        </div>

          <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" id="lastname" #lastname="ngModel" name="last" [(ngModel)]="registrationData.lastName" required>
            <small [hidden]="lastname.pristine || lastname.valid" class="form-text text-danger">Please fill out this field.</small>
          </div>

          <div class="form-group">
            <label>Email Address</label>
            <input class="form-control" type="email" id="email" name="email" #email="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" [(ngModel)]="registrationData.email" required>
            <small [hidden]="email.pristine || email.valid" class="form-text text-danger help-block">Please enter a complete email address.</small>
          </div>

          <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" id="username" name="user" #username="ngModel" [(ngModel)]="registrationData.username" required>
            <small [hidden]="username.pristine || username.valid" class="form-text text-danger help-block">Please fill out this field.</small>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" id="password" name="pw" #password="ngModel" [(ngModel)]="registrationData.password" required>
            <small [hidden]="password.pristine || password.valid" class="form-text text-danger help-block">Please fill out this field.</small>
          </div>

        <div class="form-group form-check">
          <p>Read our Terms of Use: <a href target="_blank">Here</a></p>
          <input type="checkbox" class="form-check-input" id="checkbox" #checkbox (change)="toggled($event)" required>
          <label class="form-check-label" for="checkbox">Accept Terms of Use</label>
        </div>

        <div>
          <button class="btn btn-primary" id="sendMessageButton" type="submit" [disabled]="regForm.invalid || checkbox.checked==false">Submit</button>
        </div>

      </form>
    </div>
  </div>

<hr>
<div class="container"> <!-- Terms of Use  -->




</div>
</div>
<script src="assets/js/clean-blog.js"></script>


